

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<HEAD>
  <title>Thông tin ph&#432;&#417;ng ti&#7879;n</title>
  <meta name=GENERATOR content="Microsoft Visual Studio .NET 7.1">
  <meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
  <style type=text/css>.style1 {
   FONT-SIZE: 24px; FONT-WEIGHT: bold
 }
</style>

<meta name=CODE_LANGUAGE content=C#>
<meta name=vs_defaultClientScript content=JavaScript>
<meta name=vs_targetSchema content=http://schemas.microsoft.com/intellisense/ie5>
</HEAD>
<body onload="document.expando=true;" onmousedown="c1c_doc_onmousedown(event);" onmouseup="c1c_doc_onmouseup(event);"  leftMargin=0 topMargin=0 MS_POSITIONING="GridLayout">

  <form method="get" action="/data/view" id="Form1">



   <table border=0 width="100%" align=center>
    <tr>
      <th scope=col><IMG alt=banner src="http://www.vr.org.vn/ptpublicweb/images/banner1.jpg" width="100%" height=128 ></TH></TR>

        <tr>
          <th scope=col><width="100%" 
            ></TH></TR></TABLE><div id="PanHeader" style="height:64px;width:100%;Z-INDEX: 0">
              <a style="float: right" target="_blank" href="/data/backup">Download Backup</a>
              <DIV class=style1 align=left><FONT size=4><FONT size=3><STRONG>Bi&#7875;n &#273;&#259;ng 
              ký</STRONG></FONT>:</FONT> 
              <input name="code" type="text" id="txtBienDK" style="width:95px;" />
              <input type="submit" name="Button1" value="Tra cứu" id="Button1" style="width:80px;Z-INDEX: 0" />
              <span id="lblErrMsg" style="display:inline-block;color:Red;font-size:Small;width:584px;"></span></DIV>
              <DIV class=style1 align=left><I><FONT size=2><FONT 
                color=red></FONT></FONT></I></DIV>
              </div></form>
              <form action="/data/upload" enctype="multipart/form-data" method="post">
                <b>Tải lên </b> <small>(Tải lên dưới dạng file .txt , Mỗi biển số 1 dòng)</small> <br> <br>
                <input type="file" name="avatar" multiple="multiple">
                <input type="submit" value="Upload">
              </form>

            </body>
          </HTML>
